<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/vendors/linericon/style.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/vendors/nouislider/nouislider.min.css">

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div th:insert="fragments/menu :: menu234"></div>
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <br>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item:${shoppingCartDto.items}">
                        <td>
                            <a th:href="@{/product/{qqq}(qqq=${item.productId})}">
                                <div class="media">
                                    <div class="d-flex">
                                        <img style="max-width: 100px; height: 70px"
                                             th:src="${'data:image/png; base64, '+item.image}"
                                             alt="">
                                    </div>
                                    <div class="media-body">
                                        <p th:text="${item.name}"></p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>
                            <h5 th:text="${'$'+item.price}"></h5>
                        </td>
                        <td>
                            <div class="product_count">
                                <input th:value="${item.quantity}" readonly type="text" name="qty" id="sst"
                                       maxlength="12" value="1" title="Quantity:"
                                       class="input-text qty">
                                <form th:action="@{/cart/increaseQtyByOne/{yyy}(yyy=${item.id})}" method="post">
                                    <button class="increase items-count"><i
                                            class="lnr lnr-chevron-up"></i></button>
                                </form>
                                <form th:action="@{/cart/decreaseQtyByOne/{yyy}(yyy=${item.id})}" method="post">
                                    <button class="reduced items-count"><i
                                            class="lnr lnr-chevron-down"></i></button>
                                </form>
                            </div>
                        </td>
                        <td>
                            <div class="media">
                                <div class="media-body">
                                    <h5 th:text="${'$'+item.total}"></h5>
                                </div>
                                <div class="media-body">
                                    <form th:action="@{/cart/remove/{yyy}(yyy=${item.id})}" method="post">
                                        <button>Remove from cart</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <h5>Subtotal</h5>
                        </td>
                        <td>
                            <h5 th:text="${'$'+shoppingCartDto.subTotal}"></h5>
                        </td>
                    </tr>
                    <tr class="out_button_area">
                        <td class="d-none-l"></td>
                        <!--                            <td class=""></td>-->
                        <td></td>
                        <td></td>
                        <td>
                            <div class="checkout_btn_inner d-flex align-items-center">
                                <a class="gray_btn" href="/home">Continue Shopping</a>
                                <a th:if="${not #lists.isEmpty(shoppingCartDto.items)}" class="primary-btn ml-2"
                                   href="/checkout">Proceed to checkout</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->
</body>
</html>