<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search page</title>
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/vendors/linericon/style.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/vendors/nouislider/nouislider.min.css">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:insert="fragments/menu :: menu234"></div>

<!-- ================ trending product section start ================= -->
<section class="section-margin calc-60px">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3" th:each="productDto:${productDtoList1414}">
                <div class="card text-center card-product">
                    <a th:href="@{/product/{qqq}(qqq=${productDto.id})}">
                        <div class="card-product__img">
                            <img style="height: 150px" class="card-img"
                                 th:src="${'data:image/png; base64, '+productDto.image}" alt="">
                        </div>
                        <div class="card-body">
                            <p th:text="${productDto.category}"></p>
                            <h4 class="card-product__title" th:text="${productDto.name}"></h4>
                            <p th:text="${'$'+productDto.price}" class="card-product__price"></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ trending product section end ================= -->




</body>
</html>