<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${productDto.name}"></title>
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/vendors/linericon/style.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/vendors/nouislider/nouislider.min.css">

    <link rel="stylesheet" href="/css/style.css">
</head>


<body>
<div th:insert="fragments/menu :: menu234"></div>
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <br>
        <div th:object="${productDto}" class="row s_product_inner">
            <div class="col-lg-6">
                <div class="card text-center card-product" style="margin-top: 100px">
                    <div class="card-product__img">
                        <img class="card-img" th:src="${'data:image/png; base64, '+productDto.image}" alt="">
                        <ul class="card-product__imgOverlay">
                            <li>
                                <button><i class="ti-search"></i></button>
                            </li>
                            <li>
                                <button><i class="ti-shopping-cart"></i></button>
                            </li>
                            <li>
                                <button><i class="ti-heart"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3 th:text="${productDto.name}"></h3>
                    <h2 th:text="${'$'+productDto.price}" style="color: orangered"></h2>
                    <ul class="list">
                        <li>
                            <a class="active" href="#">
                                <span>Category</span>
                                :
                                <span style="margin-left: 15px" th:text="${productDto.category}"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Availability</span>
                                :
                                <span style="margin-left: 15px" th:text="${productDto.quantity}"></span>
                            </a>
                        </li>
                    </ul>
                    <p th:text="${productDto.description}"
                       style="font-size: large; font-weight: bold">
                    </p>
                    <div class="product_count">
                        <form th:object="${chosenProductDto}" th:action="@{/product/{xyz}(xyz=${productDto.id})}"
                              method="post" style="border-style: dotted; border-width: 5px; border-color: #384aeb;
                              padding: 20px; margin: 20px; border-radius: 20px">
                            <ul class="list">
                                <li sec:authorize="hasRole('ROLE_USER')">
                                    <a class="active" href="#">
                                        <span>Quantity</span>
                                        :
                                        <span>
                                            <input required min="1" th:max="${productDto.quantity}"
                                                   th:field="*{quantity}" type="number">
                                        </span>
                                    </a>
                                </li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a class="active" href="#">
                                        <span>Adjustment quantity</span>
                                        :
                                        <span>
                                            <input th:field="*{quantity}" type="number">
                                        </span>
                                    </a>
                                </li>
                                <p style="color: red; font-weight: bold;"
                                   th:each="anyError25 : ${#fields.errors('quantity')}" th:text="${anyError25}"></p>
                            </ul>
                            <ul th:switch="${userDto91.userRole}">
                                <br>
                                <button th:case="'ROLE_USER'"
                                        type="submit" style="font-size: large; height: 50px; background: #384aeb;
                                    padding: 0px 40px; border-radius: 25px; font-weight: 300;
                                    color: #fff">
                                    Add to Cart
                                </button>
                                <button th:case="'ROLE_ADMIN'"
                                        type="submit" style="font-size: large; height: 50px; background: yellow;
                                    padding: 0px 40px; border-radius: 25px; font-weight: bold;
                                    color: #384aeb; border-style: solid; border-width: 3px; border-color: #384aeb ">
                                    Adjust Stock
                                </button>
                                <br>
                            </ul>
                        </form>
                        <form th:object="${chosenProductDto}"
                              th:action="@{/product/newPrice/{xyz}(xyz=${productDto.id})}"
                              th:if="${userDto91.userRole=='ROLE_ADMIN'}" method="post"
                              style="border-style: dotted; border-width: 5px; border-color: #b21f2d;
                              padding: 20px; margin: 20px; border-radius: 20px">
                            <ul class="list">
                                <li>
                                    <a class="active" href="#">
                                        <span>New price</span>
                                        :
                                        <span>
                                            <input required min="1" th:field="*{price}" type="number">
                                        </span>
                                    </a>
                                </li>
                                <p style="color: red; font-weight: bold;"
                                   th:each="anyError49 : ${#fields.errors('price')}" th:text="${anyError49}"></p>
                            </ul>
                            <ul>
                                <br>
                                <button type="submit" style="font-size: large; height: 50px; background: yellow;
                                    padding: 0px 40px; border-radius: 25px; font-weight: bold;
                                    color: #384aeb; border-style: solid; border-width: 3px; border-color: #b21f2d ">
                                    Adjust Price
                                </button>
                                <br>
                            </ul>
                        </form>
                    </div>
                    <div class="card_area d-flex align-items-center">
                        <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
                        <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
</body>


</html>